<!DOCTYPE html>
<html lang="en">
	<%- include('partials/header'); %>
	<body>
		<%- include('partials/nav'); %>
		<div class="container">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="boxed">
    					<img class="img_message" src="/img/error.png">
    					<h5 class="title">Your enquiry has failed.</h5>
    					<p>Dear customer,</p>
    					<p>We are sorry we could not process your enquiry.</p>
    					<p>Kind regards,</p>
    					<p>Terence from Tasty Treats</p>
    				</div>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</body>
</html>