<!DOCTYPE html>
<html lang="en">
	<%- include('partials/header'); %>
	<body>
		<%- include('partials/nav'); %>
		<div class="container">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="boxed">
    					<h5 class="title">Tasty Treats<br><small>(Meater Technical Test)</small></h5>
    					<p>Goal</p>
						<p>We would like you to create an inquiry form for Tasty Treats, a local bakery. The business owner, Terence, wants to capture the following information and save it in plain text files on his server.</p>
						<ul>
							<li>Name</li>
							<li>Email address</li>
							<li>Message</li>
							<li>If they would like to subscribe to Tasty Treats' newsletter</li>
						</ul>
						<p>The web page must be served using NodeJS. You can use libraries and frameworks to
complete the task. It’s important you understand the code as you’ll need to talk us through the code during your interview.</p>
						<p>Making your code clean and easy to read will help.</p>
						<p>Fancy a Challenge?</p>
						<p>Terence has been struggling to contact people who have completed the form. Lots of the email addresses are invalid. Can you prevent invalid email addresses from being submitted?</p>
						<p>The text files aren’t very nice to work with. Can you create a page for Terence to see the inquiries with the newest showing first?</p>
						<p>The form is being spammed by naughty bots! How can they be stopped so Terence doesn’t miss potential customers?</p>
    				</div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</body>
</html>